* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#top {
    color: #fff;
    position: sticky;
    top: 10%;
    left: 89%;
    padding: 10px;
    background-color: #000;
    border: 1px solid #ff0000;
    border-radius: 50%;
}

body {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 20px;
    background-color: whitesmoke; 
}
nav {
    padding: 40px 0 0;
    background-color: #005590;
    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1.5em;
    padding: 15px; 
}
li {
    display: block;
    border-right: 1px solid #ffffff5e;
    margin: 0.5em auto; 
    font-size: small;
}
.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #000;
    padding: 20px 0;
}
.navigation .anchor {
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 15px;
    background-color: #2282c7;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#dailyResult:visited {
    color: #f5f5f5;
    font-weight: bolder;
}
#dailyResult:hover,
#planAndEvent:hover {
    text-decoration-color: #ff0000;
    background-color: #2282c7bd;
    font-weight: 800;
    transition: 1s;
}
#planAndEvent {
    color: #ffff00;
    font-weight: bolder;
}


li a {
    color: #fff;
    text-decoration-color: #ffc0cb;
    padding: 15px;
    font-size: 18px;
}
li a:hover {
    color: #0000ff !important;
    text-decoration-color: #ff0000;
    background-color: #fff;    
    border-radius: 5px;
    transition: 0.5s;
}
li a:visited {
    color: #b3d1de;
}
li a:visited:hover {
    color: #000;
}
.home {
    color: #ffc0cb !important; 
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 10px; */
}
.home:hover{
    color: #ff0000 !important; 
    border-radius: 10px; 
    /* background-color: white; */

}
  

/* main */
main {
    display: block;
}


        /* (btn) */        
.btn-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 2rem
}
.page-ort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}
.pageOrt-btn {
    color: #fff;
    width: 300px;
    padding: 15px;
    background-color: #0000ff;  
    border: none;
    border-radius: 5px; 
    font-size: 20px;
    cursor: pointer;   
}
.pageOrt-btn:hover {
    background-color: #0505c7; 
    box-shadow: 0 0 5px 2px #808080ab;
    transition: 0.3s;
}
.pageOrt-btn:active {
    transform: scale(0.97);  
    transition: 0.3s;
    box-shadow: none; 
}

/* .buy-lrCard {
    position: relative;
    color: #fff;
    width: 300px;
    height: 55px;
    top: 25px; 
    padding: 15px;
    background-color: #0077cc;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.buy-lrCard:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #005599;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.buy-lrCard:hover:before {
    transform: translateY(0);
} */


    /*(iframe)*/
.iframe-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   
  
}


.frame {
    width: 550px;
    height: 100%;  
}
.frame:focus {
    outline: 3px solid #800080;
    outline-style:  dashed;
}


iframe {
    width: 500px; 
    height: 140rem;  
    margin-block-end: 25px; 
    border: none; 
}

/* .days {
    background-color: bisque;
} */


/*aside */
/* .dialog {
    z-index: 9;
} */

.classification-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-image: url("./Assets/Lotto_image_cinematic_shot_dyn.webp"); 
} 
.counterpart {
    font-size: 24px;
}
.classification {
    width: 700px;
    height: 95em;
    padding: 10px;
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: grab;
} 
 

    /*(discaimer)*/
.disclaimer {
    text-align: justify;
    padding: 15px;
    margin: 5rem 2rem 3rem 2rem;
    box-shadow: 2px 2px 10px 2px #000;
    border: 1px solid #ff0000; 
    border-radius: 5px;
}
.disclaim-message {
    line-height: 1.5em; 
}
.respective-owner {
    text-transform: uppercase;
}
 
/* footer */
footer {
    color: #87ceeb;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    gap: 30px; 
    background-color: #000;
}
.contentInfo-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10em;
}
footer img {
    margin: 20px auto;
    border-radius: 200px;
}
.team {
    height: 100px;
    padding: 10px;

}
.contentInfo-wrapper span {
    color: #daa520;
    opacity: 0.6;
}
.contentInfo-wrapper a {
    color: #87ceeb;
    text-decoration: none;
}
.getInTouch {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 110px;
    padding-left: 5em;
    gap: 5px;
    border-left: 1px solid rgba(135, 207, 235, 0.349);
}
.stayConnected {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid rgba(135, 207, 235, 0.349);

}



                        /* Breakpoints */
     /*(360px to 599px devices)*/    
     @media screen and (max-width: 900px) {
        body {
            width: 100%;
        }


        .classification-wrapper {
            width: 100%;
        }
        .classification {
            width: inherit;
        }
     }



    /*(360px to 599px devices)*/    
    @media screen and (max-width: 700px) {
        body {
            width: 100%;
        }

        .navigation,
        .anchor,
        .btn-container {
            display: block;
            height: auto;
            /* margin: 0; */
        }

        #dailyResult,
        #planAndEvent {
            margin: 10px auto;
        }
       
        .buy-lrCard {
            left: 23%;
            margin-bottom: 5rem;
        }

        .classification {
            width: 100%;
            margin: 0;
        } 

        .contentInfo-wrapper {
           display: block; 
        }
        .stayConnected {
            display: initial;
        }
        
    }

    /*(393px  to 430px devices)*/   
    @media screen and (max-width: 500px) {
        body {
            width: 100%;
        }


        main {
            display: none;
        }

        .disclaimer {
            width: 95%;
            margin: 10px;
            padding: 0;
            font-size: 21px;
        }
        .disclaim-message {
            width: 90%;
            margin: 1em;
        }
        .respective-owner {
            width: 90%;
            margin: 1em; 
            font-size: 19px;
        }


        footer {
            display: flex; 
            width: 100%;
            padding: 10px 0;
            text-align: center;
         }
         footer p {
             margin: 50px 5px 0;
             font-size: 1.7rem;  
         } 
         .contentInfo-wrapper {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
        .team {
             width: 100%; 
             text-decoration: underline;
             text-decoration: #0077ccb7;
             padding: 0;
             margin: 0;
             background-color: #2282c72d; 
             font-size: 3rem;
        }
        .getInTouch {
             width: 100%; 
             padding: 0;
             margin: 0;
        }
        .span.in-touch {
            font-size: 2rem; 
        }
        .contact {
            line-height: 1.5em;
            font-size: 25px;
        }
        .stayConnected {
             position: relative;
             top: -1em;
             flex-direction: unset;
             justify-content: center;
             width: 100%;
             padding: 0;
             margin: 0;
             gap: 1em;
             font-size: 1.5em;  
        }
        .span.connected {
             position: absolute; 
             top: -2em; 
             right: 10px;
             width: 100%;
             font-size: 1.5em; 
        }
        .icon {
            margin: 0 10px;
            font-size: 40px;
        }  
    }


    /*(360px  to 390 devices)*/   
   @media screen and (max-width: 391px) {
        body {
            width: 100%;
        }

        div.navigation {
            display: block; 
            width: 100%;
            padding: 20px 0;
        }
        div.navigation a {
            display: block;
            width: 15rem !important;
            margin: 10px auto;
            border-radius: 10px;
        }


        .page-ort-wrapper,
        .iframe-container,
        .classification-wrapper {
            display: none;
        }  
        
        
        .disclaimer {
            width: 94%;
            margin: 0 10px;
            padding: 0;
            font-size: 21px;
        }
        .disclaim-message {
            width: 85%;
            margin: 10px 1.2em;
        }
        .respective-owner {
            width: 90%; 
            margin: 1rem;
            line-height: 1.5;
        }


        footer {
            margin: 0;
            padding: 2rem 0;
            text-align: center;
        }
        footer p {
            margin: 50px 5px; 
            font-size: 1.5rem;  
        }
      
         .team {
            font-size: 35px;
         } 
         .getInTouch {
            width: 100%;
            padding: 15px 0;
            background-color: #87cfeb05;
            border-top: 1px solid rgba(135, 207, 235, 0.349);
            border-bottom: 1px solid rgba(135, 207, 235, 0.349);
            font-size: 30px;
         } 
         .contact {
            font-size: 1.3rem;
        }
        
        .span.connected {
            font-size: 2rem;
       }  
       .icon-wrapper{
           display: flex;
           justify-content: center;
           gap: 2rem;
           /* margin-top: 05em; */
           font-size: 40px;
       } 
   }


    /*(320px device)*/   
    @media screen and (max-width: 358px ) {
        body {
            width: 100%;
        }


        main {
            display: none;
        }
       
        /* .buy-lrCard {
           display: none;
        }  */

        .disclaimer {
            width: 300px;
            margin: 10px;
            padding: 0;
        }
        .disclaim-message {
            width: 23ch;
            margin: 10px;
            font-size: 24px;
        }
        .respective-owner {
            width: 28ch;
            margin: 10px;
            line-height: 1.5;
        }

        footer {
            display: flex; 
            width: 100%;
            margin-top: 3rem;
            padding: 10px 0;
            text-align: center;
         }
         footer p {
             margin: 50px 5px; 
             font-size: 1.5rem;  
         } 
         .contentInfo-wrapper {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
        .team {
             width: 100%; 
             text-decoration: underline;
             text-decoration: #0077ccb7;
             padding: 0;
             margin: 2em 0 0;
             background-color: #2282c72d; 
             font-size: 2em;
        }
        .getInTouch {
             width: 100%; 
             padding: 0;
             margin: 0;
        }
        .span.in-touch {
            font-size: 1em; 
        }
        .contact {
            line-height: 1.5em;
            font-size: 23px;
        }
        .stayConnected {
             position: relative;
             top: -1em;
             flex-direction: unset;
             justify-content: center;
             width: 100%;
             padding: 0;
             margin: 0;
             gap: 1em;
             font-size: 1.5em;  
        }
        .span.connected {
             position: absolute; 
             top: -2em; 
             right: 10px;
             width: 100%;
             font-size: 1.5em; 
        }
        .icon {
            margin: 0 10px;
            font-size: 40px;
        }  
    }


        /* animation & motion */
        @media (prefers-reduced-motion: reduce) {
            .merry-christmas {
                animation: none;
        
            }
        }

      