* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: whitesmoke; 
}
nav {
    padding: 40px 0 0;
    background-color: #005590;
    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1.5em;
    padding: 15px; 
}
li {
    display: block;
    border-right: 1px solid #ffffff5e;
    margin: 0.5em auto; 
    font-size: small;
}
.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #000;
 
    padding: 20px 0;
}
.navigation .anchor {
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 15px;
    background-color: #2282c7;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#dailyResult:visited {
    color: #f5f5f5;
    font-weight: bolder;
}
#dailyResult:hover,
#planAndEvent:hover {
    text-decoration-color: #ff0000;
    background-color: #2282c7bd;
    font-weight: 800;
    transition: 1s;
}
#planAndEvent {
    color: #ffff00;
    font-weight: bolder;
}


li a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    color: #0000ff;
    background-color: #fff;    
    border-radius: 5px;
    transition: 0.5s;
}
li a:visited {
    color: #b3d1de;
}
li a:visited:hover {
    color: #000;
}
.home {
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 10px; */
}
.home a:hover{
    color: red;
    border-radius: 15px; 
    background-color: white;

}
  

/* main */
main {
    display: block;
}

        /* (btn) */        
.btn-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 2rem
}
.page-ort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}
.pageOrt-btn {
    color: #fff;
    width: 300px;
    padding: 15px;
    background-color: #0000ff;  
    border: none;
    border-radius: 5px; 
    font-size: 20px;
    cursor: pointer;   
}
.pageOrt-btn:hover {
    background-color: #0505c7; 
    box-shadow: 0 0 5px 2px #808080ab;
    transition: 0.3s;
}
.pageOrt-btn:active {
    transform: scale(0.97);  
    transition: 0.3s;
    box-shadow: none; 
}

.buy-lrCard {
    position: relative;
    color: #fff;
    width: 300px;
    height: 55px;
    top: 25px; 
    padding: 15px;
    background-color: #0077cc;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.buy-lrCard:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #005599;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.buy-lrCard:hover:before {
    transform: translateY(0);
}


    /*(iframe)*/
.iframe-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   
  
}


.frame {
    width: 550px;
    height: 100%;  
}

iframe {
    width: 500px; 
    height: 120rem;  
    margin-block-end: 25px; 
    border: none; 
}

/* .days {
    background-color: bisque;
} */


/*aside */
/* .dialog {
    z-index: 9;
} */

.classification-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-image: url("./Assets/Lotto_image_cinematic_shot_dyn.webp"); 
} 
.counterpart {
    font-size: 24px;
}
.classification {
    width: 700px;
    height: 95em;
    padding: 10px;
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: grab;
} 
 

    /*(discaimer)*/
.disclaimer {
    /* color: #fff; */
    text-align: justify;
    padding: 15px;
    margin: 5rem 2rem 3rem 2rem;
    /* background-color: #000; */
    box-shadow: 2px 2px 10px 2px #000;
    border: 1px solid #ff0000; 
    border-radius: 5px;
}
.disclaim-message {
    line-height: 1.5em; 
}
.respective-owner {
    text-transform: uppercase;
}
 
/* footer */
footer {
    color: #87ceeb;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    gap: 30px; 
    background-color: #000;
}
.contentInfo-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10em;
}
footer img {
    margin: 20px auto;
    border-radius: 200px;
}
.team {
    height: 100px;
    padding: 10px;

}
.contentInfo-wrapper span {
    color: #daa520;
    opacity: 0.6;
}
.contentInfo-wrapper a {
    color: #87ceeb;
    text-decoration: none;
}
.getInTouch {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 110px;
    padding-left: 5em;
    gap: 5px;
    border-left: 1px solid rgba(135, 207, 235, 0.349);
}
.stayConnected {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid rgba(135, 207, 235, 0.349);

}
/* address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */


                        /* Breakpoints */
    /*(360px to 375px devices)*/   
   @media screen and (min-width: 320px ) and (max-width: 599px) {
        body {
            width: 100%;
        }

        div.navigation {
            display: block; 
            width: 100%;
            padding: 20px 0;
        }
        div.navigation a {
            display: block;
            width: 15rem !important;
            margin: 10px auto;
            border-radius: 10px;
        }
       

        .page-ort-wrapper,
        .iframe-container,
        .classification-wrapper {
            display: none;
        }
        
        .disclaimer {
            width: inherit;
            margin: 0;
            padding: 0 20px;
        }

        footer {
           display: block; 
           width: 100%;
           margin-top: 3rem;
           padding: 10px 0;
           text-align: center;
        }
        small {
            width: 100%;
            margin: 50px 5px;
            font-size: 1.5rem; 
        }
        .contentInfo-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       .team {
            width: 100%;
            text-decoration: underline !important;
            text-decoration: #0077ccb7;
            padding: 10px 0;
            margin-top: 2em;
            background-color: #2282c72d; 
            font-size: 2em;
       }
       .getInTouch {
            height: fit-content;
            padding: 0;
       }
       .stayConnected {
            position: relative;
            flex-direction: unset;
            justify-content: center;
            padding: 0;
            margin: 0;
            gap: 1em;
            font-size: 1.5em;  
       }
       span {
            position: absolute;
            top: -2em;
       }
        
   }


        /* animation & motion */
        @media (prefers-reduced-motion: reduce) {
            .merry-christmas {
                animation: none;
        
            }
        }

      