* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1.5em;
    padding: 15px; 
}
li {
    display: block;
    border-right: 1px solid black;
    margin: 0.5em auto; 
    font-size: small;
}
#dailyResult {
    color: #fff;
    max-width: 15rem;
    text-align: center;
    padding: 15px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#dailyResult:visited {
    color: #f5f5f5;
}
#dailyResult:hover {
    background-color: #0000ff;
    transition: 1s;
}
li a {
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    color: #fff;
    background-color: #ff0000;   
    border-radius: 5px;
    transition: 0.5s;
}
li a:visited {
    color: purple;
}
.home {
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 10px; */
}
.home a:hover{
    color: red;
    border-radius: 15px; 
    background-color: white;

}
  

/* main */
main {
    display: block;
}

        /* (btn) */        
.btn-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 2rem
}
.page-ort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}
.pageOrt-btn {
    color: #fff;
    width: 300px;
    padding: 15px;
    background-color: #0000ff;  
    border: none;
    border-radius: 5px; 
    font-size: 20px;
    cursor: pointer;   
}
.pageOrt-btn:hover {
    background-color: #0505c7; 
    box-shadow: 0 0 5px 2px #808080ab;
    transition: 0.3s;
}
.pageOrt-btn:active {
    transform: scale(0.97);  
    transition: 0.3s;
    box-shadow: none; 
}

.buy-lrCard {
    position: relative;
    color: #fff;
    width: 300px;
    height: 55px;
    top: 25px;
    padding: 15px;
    background-color: #0077cc;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.buy-lrCard:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #005599;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.buy-lrCard:hover:before {
    transform: translateY(0);
}


    /*(iframe)*/
.iframe-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   
  
}


.frame {
    width: 550px;
    height: 100%;  
}

iframe {
    width: 500px; 
    height: 80rem;  
    margin-block-end: 25px; 
    border: none; 
}

/* .days {
    background-color: bisque;
} */


/*aside */
/* .dialog {
    z-index: 9;
} */

.classification-wrapper {
    margin: 10px;
}
.classification {
    width: 700px;
    /* height: 900px; */
    padding: 10px;
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: grab;
} 
 

    /*(discaimer)*/
.disclaimer {
    color: #fff;
    text-align: justify;
    padding: 15px;
    margin: 5rem 2rem 3rem 2rem;
    background-color: #000;
    border: 1px solid #ff0000; 
    border-radius: 5px;
}
.disclaim-message {
    line-height: 1.5em; 
}
.respective-owner {
    text-transform: uppercase;
}
 
/* footer */
footer {
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
}
address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


                        /* Breakpoints */
    /*(360px to 375px devices)*/   
   @media screen and (min-width: 320px ) and (max-width: 599px) {
        body {
            width: 100%;
        }

        .page-ort-wrapper,
        .iframe-container,
        .classification-wrapper {
            display: none;
        }
        
        .disclaimer {
            width: inherit;
            margin: 0;
            padding: 0 20px;
        }
        
   }